body {
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #B4AE8E;
    color: white;
}

.logo img {
    height: 20px;
    margin: 0 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0 50px;
    padding: 0;
}

.nav-links li {
    margin-left: 10px;
}

.nav-item a{
    text-decoration: none;
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-item a:hover {
    color: white;
}
