body {
    font-family: 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F1EFE3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B0A48A;
    padding: 20px;
}

.logo img {
    height: 20px;
    margin: 0 30px;
}

header h1 {
    margin: 0;
}

.search-container {
    display: flex;
}

#search {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

#searchButton {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #88816A;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #706B58;
}

main {
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
}

.gallery-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.gallery-item h3 {
    margin: 20px 0;
    font-size: 15px;
}

